# Dependencias para entrenamiento en Google Colab

#Dependencias para el entreno de la IA en Google Colab
ultralytics
roboflow


# Para visualización de métricas y procesamiento de datos en YOLO
matplotlib>=3.7.0
seaborn>=0.12.0
scikit-learn>=1.3.0
pandas>=2.0.0
scipy>=1.10.0 

# Para manejo de datasets
split-folders>=0.5.1

# Utilidades
tqdm>=4.66.0
pyyaml  # Para manejar el archivo data.yaml del dataset